@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

/* utility classes */
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.font-bold{
  font-weight: bold;
}

.hidden{
  display: none;
}


body{
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

nav{
  padding: 1rem 0;
  background: #F55A5A;
  color: white;
}

nav img{
  width: 25px;
  height: 25px;
  margin-right: 0.5em;
}

nav p{
  word-spacing: -.1em;
}

.App{
  position: relative;
}

.container{
  width: 90%;
  max-width: 700px;
  margin-inline: auto;
  margin-block: 3em;
}

.blog{
  gap: 5px;
  flex-direction: column;
  /* position: relative; */
}

.img img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.details{
  margin-block: 3em;
  color: #2B283A;
  font-size: 15px;
}

.title{
  margin: .3em 0 .8em;
}

.country--name {
  gap: 5px;
  letter-spacing: 1px;
}

button{
  color: #918E9B;
  border: none;
  background: transparent;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.date{
  padding-bottom: .4em;
}

/* ====================================================== */
/* modal */

.map{
  width: 100%;
  /* max-width: 1200px; */
  height: 100vh;
  padding: 2rem;
  background-color: rgba(0, 0, 0, .3);
  position:fixed;
  top: 3%;
  left: 0;
  /* right: 0; */
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.map.active{
  opacity: 1;
  z-index: 999999;
  pointer-events: unset;
}

.close-btn{
  background: #F55A5A;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 2em;
  padding: 1rem;
}

.close-btn img{
  width: 40px;
  /* position: "absolute", top: "1em", right: "2em" */
}

@media (min-width: 600px){
  .location{
    display: flex;
    justify-content: space-between;
  }
  .blog{
    flex-direction: row;
    gap: 25px;
  }

  .img img{
    width: 200px;
    height: 300px;
  }
}